<h2>Court Application Hearings</h2>
<ul>
  <% @court_application_hearings.each_with_index do |hearing, index| %>
  <li>
    <strong><%= hearing.id %></strong>
    <%= link_to'remove', admin_court_application_hearing_destroy_url(court_application_id: @court_application.id, hearing_id: hearing.id), method: :delete  %>
  </li>
  <% end %>
</ul>

<h3>Available prosecution case hearings</h3>
<ul class="hearing-listings">
  <% @prosecution_case_hearings.reject { |hearing| @court_application_hearings.map(&:id).include?(hearing.id) }.each_with_index do |hearing, index| %>
  <li>
    <strong><%= hearing.id %></strong>
    <%= link_to'Add', admin_court_application_hearing_create_url(court_application_id: @court_application.id, hearing_id: hearing.id), method: :post  %>
  </li>
  <% end %>
</ul>



