<h1>New Defendant</h1>

<%= render 'form', defendant: @defendant, url: admin_prosecution_case_defendants_path(@prosecution_case) %>

<%= link_to 'Back', admin_prosecution_case_path(@prosecution_case) %>
